.fondo_login {
  background-color: rgb(141, 220, 141);
}
.color_boton_verde {
  background-color: rgba(0, 79, 60, 255);
}
.tamano_logo {
  width: 200px;
}
.color_registro {
  background-color: rgba(252, 250, 248, 255);
}
