<div class="container">
  <div class="d-flex justify-content-between align-items-center">
    <div class="d-flex align-items-center">
      <img
        src="../../static/img/masterbikes_logo.jpg"
        alt="Logo"
        class="tamano_logo"
      />
    </div>

    <!-- Desktop Navigation -->
    <nav class="d-none d-md-flex gap-3">
      <a href="#" class="nav-link text-dark">Inicio</a>
      <a href="#" class="nav-link text-dark">Categorias</a>
      <a href="#" class="nav-link text-dark">Sobre nosotros</a>
    </nav>

    <!-- Right Section -->
    <div class="d-flex align-items-center">
      <!-- Desktop Search Bar -->
      <div class="d-none d-md-block">
        <input
          type="text"
          class="form-control form-control-sm"
          placeholder="Buscar..."
        />
      </div>
      <a href="#" class="btn text-dark d-none d-md-block">
        <i class="ri-login-circle-line"></i>
      </a>
      <a href="#" class="btn text-dark d-none d-md-block">
        <i class="ri-shopping-cart-2-line"></i>
      </a>
    </div>
  </div>
</div>
